        /* Custom styles */
        body {
            margin: 0;
            height: 100dvh;
            font-family: "DM Sans", sans-serif;
            ;
        }

        .container {
            height: 100dvh;
            /* Full viewport height */
        }

        .button-minku,
        .button-minku:focus,
        .button-minku:active,
        .button-minku:hover {
            background-color: #8418C3;
            color: white;
            border-radius: 30px;
            height: 60px;
            width: 233px;
            font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;

        }

        .button-minku-round,
        .button-minku-round:focus,
        .button-minku-round:active,
        .button-minku-round:hover {
            background-color: #8418C3;
            color: white;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;

        }



        .custom-range::-webkit-slider-thumb {
            background: #000000;
        }

        .custom-range::-webkit-slider-runnable-track {
            background: #a3a3a3;
        }

        .button-border {
            border: 0.5em solid #ffc6b0 !important;
        }

        .input-border {
            border: 0.1em solid #ffc6b0 !important;
        }

        .text-semi_bold_600 {
            font-weight: 600;
            color: #474747;
            line-height: 44px;
        }

        .text-regular_400 {
            font-weight: 400;
            color: #474747;
            line-height: 20px;
            font-size: 14px;
        }

        .menu_button {
            background: url('minku_menu.svg') no-repeat right center;
            height: 32px;
            width: 32px;
            padding-right: 30px;
        }

        #bottombar {
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        #appbar {
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            position: sticky;
            z-index: 1;
        }

        .button-minku-container {
            position: fixed;
            bottom: 10%;
        }

        .bottom-bar-buttons {
            width: 33%;
            cursor: pointer;
        }

        .dot {
            cursor: pointer;
            height: 23px;
            width: 23px;
            margin: 0 3%;
            background-color: #F3E8F9;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #8418C3;
        }

        .slideshow-container {
            width: 100%;
            position: relative;
            padding: 10%;
            overflow: hidden;
        }

        .minku-vector-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70%;
        }

        .minku-vector-container-results {
            position: relative;
            max-width: 60%;
        }

        .minku-app-logo,
        .minku-app-logo-results {}

        .minku-app-logo>img {
            max-width: 55%;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .minku-app-logo-results>img {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .background-vector {
            max-width: 100%;
            object-fit: cover;
        }

        .result-icon {
            position: absolute;
            top: 20%;
            left: 90%;
            transform: translate(-50%, -50%);
        }

        .icon-on-top {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .content {
            position: relative;
        }

        .minku-fixed {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }

        .minku-input {
            background-color: #F3E8F9;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            text-align: center;
            line-height: 35px;
            letter-spacing: 0%;
            color: #8418C3;
        }

        .minku-select {
            background-image: url("select_circle.svg");
            background-size: 35px auto;
            background-color: #F3E8F9;
            font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            text-align: center;
            line-height: 35px;
            letter-spacing: 0%;
            color: #8418C3;
        }

        .p-small {
            font-family: DM Sans;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            margin-bottom: 0px;
            line-height: 35px;
            letter-spacing: 0%;

        }

        .p-bold {
            font-family: DM Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 35px;
            letter-spacing: 0%;

        }

        .p-big {
            font-family: DM Sans;
            font-weight: 600;
            font-style: Medium;
            font-size: 25px;
            color: #474747;

            line-height: 44px;
            letter-spacing: 0%;
            text-align: center;

        }

        .read-more {
            display: none;
        }

        .upper-text {
            font-weight: 700;
            color: #8418c8;
            font-size: 30px;
            text-align: center;
        }

        .minku-left-logo {
            width: 139px;
        }


        @media only screen and (max-height: 750px) {
            .slideshow-container {
                width: 100%;
                position: relative;
                padding: 5% 10% 10% 10%;
                overflow: hidden;
            }

            .minku-vector-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50%;
            }

            .minku-vector-container-results {
                position: relative;
                max-width: 50%;
            }

            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 3%;
                background-color: #F3E8F9;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active,
            .dot:hover {
                background-color: #8418C3;
            }

            .p-small {
                font-family: DM Sans;
                font-weight: 500;
                font-style: Medium;
                font-size: 0.7em;
                margin-bottom: 0px;
                line-height: 25px;
                letter-spacing: 0%;

            }

            .result-icon {
                position: absolute;
                top: 20%;
                left: 90%;
                transform: translate(-50%, -50%);
                max-width: 30%;
            }

            .button-minku,
            .button-minku:focus,
            .button-minku:active {
                background-color: #8418C3;
                color: white;
                border-radius: 30px;
                height: 40px;
                width: 155px;
                font-family: DM Sans;
                font-weight: 700;
                font-style: Bold;
                font-size: 15px;
                line-height: 15px;
                letter-spacing: 0%;
                text-align: center;

            }

            .minku-fixed {
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%);
            }

            .upper-text {
                font-weight: 700;
                color: #8418c8;
                font-size: 22px;
                text-align: center;
            }
        }

        @media only screen and (max-height: 700px) {
            .minku-vector-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 30%;
            }

            .minku-vector-container-results {
                position: relative;
                max-width: 30%;
            }
        }

        @media only screen and (max-height: 600px) {
            .menu_button {
                background: url('minku_menu.svg') no-repeat center center;
                height: 20px;
                width: 20px;
                padding-right: 30px;
                background-size: contain;
            }

            .bottom-bar-buttons img {
                width: 25%;
                cursor: pointer;
            }

            .minku-left-logo {
                width: 100px;
            }

            .p-small {
                font-family: DM Sans;
                font-weight: 500;
                font-style: Medium;
                font-size: 0.7em;
                margin-bottom: 0px;
                line-height: 18px;
                letter-spacing: 0%;

            }

            .measurement-rules img {
                width: 50%;
            }

            .pt-3 {
                padding-top: 0.5rem !important;
            }

            .upper-text {
                font-weight: 700;
                color: #8418c8;
                font-size: 14px;
                text-align: center;
            }

            .results-text {
                overflow-y: auto;
                overflow-x: hidden;
                height: 150px;
            }
        }